.block {
    padding: 2.5rem;
    margin-bottom: 0.75rem;

    border-radius: 0.4rem;
    background-color: var(--base-card);
}

.block-title {
    font-size: 1rem;
    color: var(--base-text);
}

.block-description {
    font-size: 0.875rem;
    color: var(--base-text);
}


.block {
    padding: 2.5rem;
    margin-bottom: 0.75rem;

    border-radius: 0.4rem;
    background-color: var(--base-card);
}

.block-title {
    font-size: 1rem;
    color: var(--base-text);
}

.block-description {
    font-size: 0.875rem;
    color: var(--base-text);
}