/* MAIN CONTENT: */

main {
    display: flex;
    flex-direction: column;
}


.hero {
    display: flex;
}


h1 {
    font-size: 3rem;
}


.coffee-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.coffee-list > h2 {
    padding: 3.375rem;
}

