.checkout-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.left-panel {
    width: 800rem;
}

.order-block {
    min-width: 28rem;
    width: 15%;
}

.blank-order-block {
    width: 15%;
    min-width: 28rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    text-align: left;
}




/* FORM */

/* 
.title-desc-icon-div {
 display: flex;
 gap: 0.5rem;
}    

.payment-methods {
    display: flex;
    gap: 0.75rem;
    margin-top: 2rem;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    width: 100%;
    padding: 1rem;

    background-color: #E6E5E5;
    border-radius: 6px;

    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.15s;

}

.payment-option:hover {
    background-color: var(--base-hover);
}

.payment-option:active {
    background-color: var(--brand-purple);
}

.payment-option > p {
    font-size: 0.75rem;
    line-height: 1rem;
} */


/* ORDER */

.summary {
    padding-top: 1.625rem;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.summary-line:nth-child(3) {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.6rem;
}


.confirm {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0.75rem 0.5rem;
    
    color: white;
    background-color: var(--yellow);
    border: none;
    border-radius: 6px;

    text-transform: uppercase;
    font-size: 1rem;

    cursor: pointer;
    transition: 0.15s;
}

.confirm:hover {
    background-color: var(--yellow-dark);
}

.link {
    text-decoration: none;
}